# Backend (Python)
backend/venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

#backend/artifacts/
#*.joblib
#*.keras

# Frontend (Node/React)
frontend/node_modules/
frontend/build/
frontend/.env

# General
.DS_Store
.env
*.log
